.App {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.page {
  margin-left: 165px;
  /* position: relative; */
}

.main__image {
  background-image: url(../../images/desktop/image-host.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 28px;
  right: -100px;
  height: 640px;
  width: 962px;
  z-index: -1;
  mix-blend-mode: screen;
}

.dots {
  background-image: url(../../images/desktop/bg-pattern-dots.svg);
  position: absolute;
  width: 232px;
  height: 104px;
  right: 0;
  /* left: 100%; */
  bottom: -52px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .page {
    margin-left: 39px;
  }

  .main__image {
    background-image: url(../../images/tablet/image-host.jpg);
    top: -50px;
    right: 0;
    height: 767px;
    width: 491px;
  }

  .dots {
    left: 30px;
    bottom: -252px;
  }
}

@media screen and (max-width: 375px) {
  .page {
    margin-left: 24px;
  }

  .main__image {
    background-image: url(../../images/mobile/image-host.jpg);
    top: -67px;
    height: 667px;
    width: 375px;
    mix-blend-mode: normal;
    opacity: 0.1;
  }

  .dots {
    display: none;
  }
}
